<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="author" content="Asher Desai">
        <meta name="description" content="Track GRC members' progress on their run across the country!">
        <link rel="stylesheet" href="/css/styles.css" type="text/css">
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDIpOCYGkv5nJYN7bwf0aGqgtgQnYfchbw&callback=initialize"
            defer></script>
        <script>
            let coordinate = <%- JSON.stringify(coord) %>;
            </script>
        <script src="/js/app.js"></script>
        <title>Home</title>
    </head>
    <body>
        <header>
            <h1>The Grand Tour</h1>
        </header>

        <div id="data">
            <span id="total"><%= total %></span><span> miles</span>
            <br>
            <span id="latitude"><%= coord.lat %></span>, <span id="longitude"><%= coord.lon %></span>
        </div>

        <form action="/submit" method="POST" id="form">
            <input type="text" name="name" required id="name" placeholder="Your Name">
            <input type="number" name="miles" required id="miles" min="0" max="50" step="0.01" placeholder="0.00">
            <button type="submit" id="submit">Submit</button>
        </form>

        <div id="map-frame">
            <div id="map"></div>
        </div>

        <div id="pano-frame">
            <div id="pano"></div>
        </div>

        <footer>
            <p>Georgetown University Running Club 2020</p>
        </footer>
    </body>
</html>